<!DOCTYPE html>
<html>
    
<body>
   <h2>Contact Form</h2>
   <p>Fill in this form to the contact site owners</p>
   
   <form action="contact">
       <Strong>Name</Strong><br>Please enter your full name<br>
   <input type="text" name="Fullname" value="" ><br><br>
   <Strong>E-mail</Strong><br>Please enter your e-mail address<br>
    <input type="text" name="Email" value="" > <br><br>
    <Strong>Subject</Strong><br>
    <input type="text" name="Subject" value="" > <br><br>
    <Strong>Message</Strong><br>Please enter the message you want to send<br>
    <input type="textarea" name="Message" style="font-family:sans-serif;font-size:3.1em;"/> <br>
       
       
       
       
       
       <input type="submit" value="Send"/>  
   
   </form>

</body>


</html>